
*.vsidx
*.pdb
*.exe
*.dll
*.lock
*.v2
Client/.vs/Client/v17/.suo
*.dll
Client/.vs/ProjectEvaluation/client.metadata.v6.1
Client/.vs/ProjectEvaluation/client.projects.v6.1
Client/Client/bin/Debug/netcoreapp3.1/Client.dll
Client/Client/bin/Debug/netcoreapp3.1/Client.exe
Client/Client/bin/Debug/netcoreapp3.1/Client.pdb
Client/Client/bin/Debug/netcoreapp3.1/Client.runtimeconfig.dev.json
