*.cache
*.vsidx
*.pdb
*.exe
*.dll
*.lock
*.v2
*.suo
*.dll
*.1
Client/Client/bin/Debug/netcoreapp3.1/Client.runtimeconfig.dev.json
Client/Client/bin/Debug/netcoreapp3.1/Client.dll
Client/Client/bin/Debug/netcoreapp3.1/Client.exe
Client/Client/bin/Debug/netcoreapp3.1/Client.pdb
Client/Client/bin/Debug/netcoreapp3.1/Client.runtimeconfig.dev.json
Client/Client/obj/Client.csproj.nuget.dgspec.json
Client/Client/obj/Client.csproj.nuget.g.props
Client/Client/obj/Client.csproj.nuget.g.targets
Client/Client/obj/Debug/netcoreapp3.1/apphost.exe
Client/Client/obj/Debug/netcoreapp3.1/Client.assets.cache
Client/Client/obj/Debug/netcoreapp3.1/Client.csproj.AssemblyReference.cache
Client/Client/obj/Debug/netcoreapp3.1/Client.csproj.BuildWithSkipAnalyzers
Client/Client/obj/Debug/netcoreapp3.1/Client.csproj.CoreCompileInputs.cache
Client/Client/obj/Debug/netcoreapp3.1/Client.csproj.FileListAbsolute.txt
Client/Client/obj/Debug/netcoreapp3.1/Client.dll
Client/Client/obj/Debug/netcoreapp3.1/Client.GeneratedMSBuildEditorConfig.editorconfig
Client/Client/obj/Debug/netcoreapp3.1/Client.genruntimeconfig.cache
Client/Client/obj/Debug/netcoreapp3.1/Client.pdb
Client/Client/obj/project.assets.json
Client/Client/obj/project.nuget.cache
Server/.vs/ProjectEvaluation/server.metadata.v6.1
Server/.vs/ProjectEvaluation/server.projects.v6.1
Server/.vs/Server/DesignTimeBuild/.dtbcache.v2
Server/.vs/Server/v17/.suo
Server/Server/bin/Debug/netcoreapp3.1/Server.dll
Server/Server/bin/Debug/netcoreapp3.1/Server.exe
Server/Server/bin/Debug/netcoreapp3.1/Server.pdb
Server/Server/bin/Debug/netcoreapp3.1/Server.runtimeconfig.dev.json
Server/Server/obj/Debug/netcoreapp3.1/apphost.exe
Server/Server/obj/Debug/netcoreapp3.1/Server.assets.cache
Server/Server/obj/Debug/netcoreapp3.1/Server.csproj.AssemblyReference.cache
Server/Server/obj/Debug/netcoreapp3.1/Server.csproj.BuildWithSkipAnalyzers
Server/Server/obj/Debug/netcoreapp3.1/Server.csproj.FileListAbsolute.txt
Server/Server/obj/Debug/netcoreapp3.1/Server.dll
Server/Server/obj/Debug/netcoreapp3.1/Server.GeneratedMSBuildEditorConfig.editorconfig
Server/Server/obj/Debug/netcoreapp3.1/Server.genruntimeconfig.cache
Server/Server/obj/Debug/netcoreapp3.1/Server.pdb
Server/Server/obj/project.assets.json
Server/Server/obj/project.nuget.cache
Server/Server/obj/Server.csproj.nuget.dgspec.json
Server/Server/obj/Server.csproj.nuget.g.props
Server/Server/obj/Server.csproj.nuget.g.targets
